<h2>All Historical Landmarks</h2>

<label> Landmarks </label>
<ul>
<% Landmark.all.each do |landmark| %>
  <li><%= landmark.name %><li>
  <ul>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
